.container-body{
    display: flex;
    flex-wrap: wrap;
    gap: 11px;
    justify-content: flex-start;
    /* align-items: center; */
    position: relative;
    top: 9rem;
    left: 14px;
    width: 98%;
}
.pic{
    width: 100%;
}
.cards{
    margin-bottom: 6px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 18rem;
    padding: 1rem;
    border: 1px solid #999;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    perspective: 100px;
    transition: 2s;

}

.cards h2{
    font-size: 32px;
    letter-spacing: 1px;
    word-spacing: 1px;
    color: #fe4a49;
    text-shadow: 1px 1px #fed766;
    padding: 0;
    margin: 0;
    line-height: 1.4444;
}
.cards h5{
    padding: 0;
    margin: 0;
    letter-spacing: 1px;
    word-spacing: 1px;
    color: gray;
    line-height: 1.4444;
}
.cards p{
    font-size: 20px;
    letter-spacing: 1px;
    word-spacing: 2px;
}
.cards button{
    text-align: center;
    cursor: pointer;
    font-size: 18px;
    padding: 0.5rem;
    background: rgba(255, 255, 255, 0.52);
    border-radius: 16px;
    box-shadow: 0 4px 30px #FFC0CB;
    backdrop-filter: blur(9.6px);
    -webkit-backdrop-filter: blur(9.6px);
    border: 1px solid rgba(255, 255, 255, 1);
    transition: 2s;
}
.cards button:hover{
    transition: 2s;
    box-shadow: 0 4px 30px #FFC0CB inset;
}
.cards button i{
    position: absolute;
    right:6rem;
    color: #fff;
    border-radius: 50%;
    transition: 2s;
}
.cards button i:hover{
    transition: 2s;
    box-shadow: 0 4px 30px #FFC0CB inset;
}
.card-1.pic{
    /* padding: 1rem; */
    width: 12rem;
}
.card-2.pic{
    width: 1rem;
}
.card-3.pic{
    width: 17rem;
}
.card-2 button{
    position: relative;
    top: 0.8rem;
}
.card-3 button{
    position: relative;
    top: 3.2rem;
}