.product-2-card-section{
    width: 100%;
    position: relative;
    top: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;;
}
.product-2-container{
    display: flex;
    flex-direction: column;
    background-color: white;
    position: relative;
    /* top: 9rem; */
    width: 100%;
    height: 45rem;
    align-items: center;
    justify-content: flex-start;
    gap: 0rem;
}

.product-2 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
    position: relative;
    top: 4rem;
    /* left: 2.5rem; */
}

.product-2-image{
    position: relative;
    width: 40%;
    height: 18rem;
    padding: 0px;
    /* border: 2px solid gray; */
    transition: 1s;
    border-radius: 10px;
    /* border-style: inset; */
    /* box-shadow: -5px -5px 20px 4px silver; */
    cursor: pointer;
    text-align: center;
}

.image-2{
    width: 85%;
    height: 45%;
    border-radius: 10px;
    position: relative;
    top: 1rem;
    transition: 0.2s;
    /* border-style: ridge; */
}
.image-2:hover{
    transform: scale(1.1);
}


.title-2-block{
    position: relative;
    top: 2rem;
}

.heading-2 {
    position: relative;
    right: 24px;
}

.title-2{
    font-family: sans-serif;
    font-size: 16px;
    margin: 0;
    letter-spacing: 5px;
    text-transform: capitalize;
    color: #080808;
    position: relative;
    left: 2rem;
}

.title-2-tag{
    font-size: 18px;
    color: gray;
    font-style: italic;
    letter-spacing: 10px;
    opacity: 0.7;
}

.images-2{
    position: relative;
    width: 40%;
    padding: 8px;
    border: 1px solid gray;
    transition: 1s;    
}

/* .images:hover{
    transition: 1s;
    transform: scale(0.95);
    opacity: 0.8;
} */
/* .images:hover .overlay{
    opacity: 1;
    transition: 1s;
    transform: scale(1.05);
}*/
.deals-2{
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 1;
    bottom: 0rem;
    /* opacity: 0; */
    transition: 1s;
} 
.price-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-direction: column; */
    font-size: 18px;
    color: black;
    font-weight: 700;
    transition: 0.2s;
}
.price-2:hover {
    transform: scale(1.11);
    color: red;
    font-weight: 700;
}
.price-2:hover .moreic-2 {
    display: block;
    font-size: 19px;
    color: red;
    font-weight: 700;
}
.pricetag{
    margin: 18px;
}
.moreic-2{
    display: none;
    color: red;
    position: relative;
    right: 15px;
    top: 2px;
}
.tag-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: gray;
    margin: 14px 8px;
    text-decoration: unset;
    /* bottom: 6rem; */
    letter-spacing: 0.2px;
    /* text-transform: uppercase; */
    font-size: 18px;
}

  /* span.more-icon {
    font-size: 22px;
    position: relative;
    top: 4px;
    color: royalblue;
} */
#black{
    color: black;
}
#green{
    color: green;
}


/* #sportfit{
    position: relative;
    top: 18rem;
}
#womens{
    position: relative;
    top: 21rem;

}
#elec{
    position: relative;
    top: 24rem;

} */