.product-container{
    background-color: white;
    position: relative;
    top: 9rem;
    width: 100%;
    height: 25rem;
}

.product {
    width: 95%;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
    gap: 3rem;
    position: relative;
    top: 4rem;
    left: 2.5rem;
}

.product-image{
    position: relative;
    width: 22%;
    height: 18rem;
    padding: 0px;
    /* border: 2px solid gray; */
    transition: 1s;
    border-radius: 10px;
    /* border-style: inset; */
    /* box-shadow: -5px -5px 20px 4px silver; */
    cursor: pointer;
    text-align: center;
    /* display: flex; */
    flex-direction: column;
    align-items: center;

}

.image{
    width: 45%;
    height: 45%;
    border-radius: 10px;
    position: relative;
    top: 1rem;
    transition: 0.2s;
    /* border-style: ridge; */
}
.image:hover{
transform: scale(1.1);
}


.title-block{
    position: relative;
    top: 2rem;
}
  /* span.more-icon {
    font-size: 22px;
    position: relative;
    top: 4px;
    color: royalblue;
} */

#today{
    position: relative;
    top: 12rem;
}
#applince{
    position: relative;
    top: 15rem;
}
#black{
    color: black;
}
#green{
    color: green;
}
